---
import Layout from "@layouts/layout.astro"

//Load blogs

const blog = await fetch(`${import.meta.env.PUBLIC_CMS}wp-json/wp/v2/posts?categories=2&_embed&per_page=3&sort=desc`)
const blog_data = await blog.json()

const formatDate = (timestamp) => {
  
  const date = new Date(timestamp);

  const options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' };
  
  const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);

  return formattedDate;
}
---

<Layout title="Home - Elpida Africa" description="Elpida Africa is a non profit organization based in Nairobi Kenya. We believe that education is the key to uplifting communities.">
<!-- slider-area-start -->
  <div class="tp-slider-3__area p-relative">
      <div class="tp-slider-3__icon smooth">
          <a href="#service" class="arrow-scroll-btn"><i class="flaticon-down-arrow"></i></a>
      </div>
      <div class="tp-slider-3__arrow-box">
          <button class="test-prev">
              <svg id="body" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="67" height="24" viewBox="0 0 67 24">
                  <g id="hero_area" data-name="hero area">
                    <g id="slider_arrow" data-name="slider arrow">
                      <g id="next">
                        <image id="right-arrow" width="67" height="24" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAAAYCAYAAAChg0BHAAABwElEQVRYheXZzatNYRTH8c+90WXgZXAJJTMKJddbCRmQkZn/xlzJwMR/wcRA6ooRQoiJtygvMxTFwC3u0aq162l33XPOwLPZ5zvaa59O5/f8Wnvt3/OcqcFgYAwuYQfO4sE4X/wfWDGGxss4k9eLODWpZszjZF4v4Pxf1NQZo5hRGvED+/Csh14MNeMGThT18b4aEUwv89l8YcR3HMT9Sro6YanOWIXr2QWNEQfwos9GBO1X60o8xu6sv+DwJBhhic64VRjRdMSbDnR1QjMzVuMhjmQds2HNJBkhO2Mt7hQdETniKo5ic8f6ahAN8RM3Y2a8xPbiRxeHvGX6yvtY9GxrcZNoRDAbnbE1N12b8makzHN4jY0dC6zBFH5FnGherVtwD2FM3LiG0723oUWZM9bhLnZm/QFz+PwvCK1BO3Stx/PikXmXWeNTL1ffoj0sv7Z2pdvwCBs6VVmJP510zWTw2pN1PDLH8LZvBpQsd+w3kzNkLutv2I9X1VVWYtgZ6HRu3JoOiWG6Cx/7YkDJsIAVafQQnmYdAe0J9taTWI9R0uZCGnI769ivXOjD4tuMeiAchsTG7Ur+VXCxnsRK4DeksGLGpvQizQAAAABJRU5ErkJggg=="/>
                      </g>
                    </g>
                  </g>
                </svg>                      
              <span>P</span></button>
          <button class="test-next">
              <span>N</span>
              <svg id="body2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="66" height="24" viewBox="0 0 66 24">
                  <g id="hero_area2" data-name="hero area">
                    <g id="slider_arrow2" data-name="slider arrow">
                      <g id="prev">
                        <image id="right-arrow2" width="66" height="24" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAAAYCAYAAABOQSt5AAABZUlEQVRYheWYsUoDQRCGPzWtNsFGCPgAFmKiEgniCwiWop1l8gYarJJ3sfAlLAIhEGICiohgaydERGxcGZnAulyyKgR19ofh9o69292P+dnZm3HOYVD7wClwrteorIK4B5a13QTqsRdmpz+nX9GxN+gJ0IhOQjLCaFTdZ9UnrdMyCIlaAKORKgiJw6/ASAEEGTZppgqCmE1SAsEkm6QGQmLXOfcc2iSnu+gmfLTfzFQS2ZLqsQ+cAUfaQ2oOJ5VlC9j6azOesobAgj+EgDBZY39XYocKsAfMaepY1wOwChx46+xaPXTFdAFsa59bAZP7+bf+pfLAAFjSyUt7B3ixevrMkhzLex4E2T02gEcM/48IJYu/Aeb1+R2wAryO+qWQEYtA24MgmVD0IZAACLFDFyjofV+Lx2HY0bI1QjtcA2thJoxkNSMKGXYojYOA4YzoAOvaHujuMBYChjPiCngCLoFyDALAO8rQx5NO39/uAAAAAElFTkSuQmCC"/>
                      </g>
                    </g>
                  </g>
                </svg>
          </button> 
      </div>
      <div class="tp-slider-3__wrapper">
          <div class="swiper-container tp-slider-3__active">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="tp-slider-3__bg z-index fix p-relative" data-background="/images/el3.jpg">
                          <div class="tp-slider-3__shape">
                              <img src="assets/img/slider/slider-shape-3-1.png" alt="">
                          </div>
                          <div class="tp-slider-3__text">
                              <h3 class="tp-slider-3__big-text">ELPIDA</h3>
                          </div>
                          <div class="container">
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="tp-slider-3__content text-center">
                                          <h2 class="tp-slider-3-title pb-30">Welcome to Elpida.</h2>
                                          <a class="tp-btn theme-2-bg" href="/about">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="tp-slider-3__bg z-index fix p-relative" data-background="/images/el3.jpg">
                          <div class="tp-slider-3__shape">
                              <img src="assets/img/slider/slider-shape-3-1.png" alt="">
                          </div>
                          <div class="tp-slider-3__text">
                              <h3 class="tp-slider-3__big-text">ELPIDA</h3>
                          </div>
                          <div class="container">
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="tp-slider-3__content text-center">
                                          <h2 class="tp-slider-3-title pb-30">
                                            We endeavour to provide the best education to the needy.
                                          </h2>
                                          <a class="tp-btn theme-2-bg" href="/about">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="tp-slider-3__bg z-index fix p-relative" data-background="/images/el1.jpg">
                          <div class="tp-slider-3__shape">
                              <img src="assets/img/slider/slider-shape-3-1.png" alt="">
                          </div>
                          <div class="tp-slider-3__text">
                              <h3 class="tp-slider-3__big-text">ELPIDA</h3>
                          </div>
                          <div class="container">
                              <div class="row">
                                  <div class="col-xl-12">
                                      <div class="tp-slider-3__content text-center">
                                          <h2 class="tp-slider-3-title pb-30">
                                            Join us on our cause today!
                                          </h2>
                                          <a class="tp-btn theme-2-bg" href="/about">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- slider-area-end -->

  <!-- service-area-start -->
  <div id="service" class="tp-service-3__area tp-service-3__space">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="tp-service-3__section-title text-center pb-40">
                      <span class="tp-section-subtitle-3">What we do</span>
                      <h4 class="tp-section-title">We provide an opportunity for individuals facing financial constraints to pursue their studies.</h4>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xl-3 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-service-3__item p-relative">
                      <div class="tp-service-3__thumb-box p-relative">
                          <div class="tp-service-3__thumb">
                              <img src="/images/education.jpg" alt="">
                          </div>
                      </div>
                      <div class="tp-service-3__content">
                          <a href="/about"><h4 class="tp-service-3__title-sm">
                            We are passionate
                          </h4></a>
                          <p>
                            We aim to break the cycle of poverty and provide marginalized individuals with the knowledge and skills necessary to create a brighter future.
                          </p>
                          <a href="/about">Read More</a>
                          <div class="tp-service-3__shape">
                              <img src="assets/img/service/service-shape.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".5s">
                  <div class="tp-service-3__item p-relative">
                      <div class="tp-service-3__thumb-box p-relative">
                          <div class="tp-service-3__thumb">
                              <img src="/images/comprehensive.jpg" alt="">
                          </div>
                      </div>
                      <div class="tp-service-3__content">
                          <a href="/about"><h4 class="tp-service-3__title-sm">
                            Comprehensive
                          </h4></a>
                          <p>
                            We tailor our efforts to empower individuals of all ages, recognizing that education is a lifelong journey.
                          </p>
                          <a href="/about">Read More</a>
                          <div class="tp-service-3__shape">
                              <img src="assets/img/service/service-shape.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".7s">
                  <div class="tp-service-3__item p-relative">
                      <div class="tp-service-3__thumb-box p-relative">
                          <div class="tp-service-3__thumb">
                              <img src="/images/innovative.jpg" alt="">
                          </div>
                      </div>
                      <div class="tp-service-3__content">
                          <a href="/about"><h4 class="tp-service-3__title-sm">
                            Innovative
                          </h4></a>
                          <p>
                            We believe in fostering holistic development by integrating innovative teaching methods and technologies.
                          </p>
                          <a href="/about">Read More</a>
                          <div class="tp-service-3__shape">
                              <img src="assets/img/service/service-shape.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
              data-wow-delay=".9s">
                  <div class="tp-service-3__item p-relative">
                      <div class="tp-service-3__thumb-box p-relative">
                          <div class="tp-service-3__thumb">
                              <img src="/images/optimistic.jpg" alt="">
                          </div>
                      </div>
                      <div class="tp-service-3__content">
                          <a href="/about"><h4 class="tp-service-3__title-sm">
                            Optimistic
                          </h4></a>
                          <p>
                            Elpida is more than a charity; it is a community united by the belief that education has the power to transform lives and uplift entire communities.
                          </p>
                          <a href="/about">Read More</a>
                          <div class="tp-service-3__shape">
                              <img src="assets/img/service/service-shape.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- service-area-end -->
  
  <!-- about-area-start -->
  <div class="tp-about-3__area tp-about-3__pb">
      <div class="container">
          <div class="row align-items-xl-start align-items-center">
              <div class="col-xl-5 col-lg-5 wow tpfadeLeft" data-wow-duration=".9s"
              data-wow-delay=".3s">
                  <div class="tp-about-3__main-thumb p-relative">
                      <img src="/images/el5.jpg" alt="">
                      <!--<div class="tp-about-3__thumb-sm">
                          <img src="assets/img/about/about-3-3.jpg" alt="">
                      </div>-->
                      <!--<div class="tp-about-3__circle-box">
                          <img src="assets/img/about/about-3-2.png" alt="">
                          <div class="tp-about-3__circle-text">
                              <img src="assets/img/about/about-3-1.png" alt="">
                          </div>
                      </div>-->
                  </div>
              </div>
              <div class="col-xl-7 col-lg-7 wow tpfadeRight" data-wow-duration=".9s"
              data-wow-delay=".9s">
                  <div class="tp-about-3__left-side">
                      <div class="tp-about-3__section-title">
                          <span class="tp-section-subtitle-3">KNOW ABOUT ELPIDA</span>
                          <h4 class="tp-section-title">
                            Unveiling Elpida's Lifelong Learning Initiatives
                          </h4>
                      </div>
                      <div class="tp-about-3__content">
                          <div class="tp-about-3__text">
                              <p>
                                Discover Elpida, a catalyst for positive change. Committed to education for the needy, we provide access to formal schooling, vocational training, and adult education. Our comprehensive approach empowers individuals of all ages, recognizing education as a lifelong journey. Join us in transforming lives and building a brighter, equitable future.
                              </p>
                          </div>
                          <div class="tp-about-3__text-2 d-flex align-items-center">
                              <span><i class="flaticon-volunteer"></i></span>
                              <p>
                                Join Elpida in transforming lives through education. Your support propels us forward, creating a lasting legacy of empowerment. Together, let's build a brighter future.
                              </p>
                          </div>
                          <!--<div class="tp-about-3__progress">
                              <div class="tp-about-3__progress-item fix">
                                  <h4>Donation</h4>
                                  <span class="progress-count">82%</span>
                                  <div class="progress">
                                      <div class="progress-bar wow slideInLeft" data-wow-duration="1s"
                                          data-wow-delay=".3s" role="progressbar" data-width="82%"
                                          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                          style="width: 58%; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: slideInLeft;">
                                      </div>
                                  </div>
                              </div>
                          </div>-->
                          <!--<div class="tp-about-3__wraper pb-40 d-flex justify-content-between">
                              <div class="tp-about-3__list-item d-flex about-items-start">
                                  <div class="tp-about-3__list-icon">
                                      <i class="flaticon-check-mark-black-outline"></i>
                                  </div>
                                  <div class="tp-about-3__list-content">
                                      <h4 class="tp-about-3__title-sm">Quick Fundraising</h4>
                                      <p>Charity Navigator's Giving you <br> support multiple</p>
                                  </div>
                              </div>
                              <div class="tp-about-3__list-item d-flex align-items-start">
                                  <div class="tp-about-3__list-icon">
                                      <i class="flaticon-check-mark-black-outline"></i>
                                  </div>
                                  <div class="tp-about-3__list-content">
                                      <h4 class="tp-about-3__title-sm">Join Our Team</h4>
                                      <p>Charity Navigator's Giving you <br> support multiple</p>
                                  </div>
                              </div>
                          </div>-->                                
                          <div class="tp-about-3__btn">
                              <a class="tp-btn" href="/about">Discover More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- about-area-end -->

  <!-- donate-area-start -->
  <div class="tp-donate__area p-relative fix">
      <div class="tp-donate__shape-3 d-none d-lg-block">
          <img src="assets/img/donate/donate-shape-1-4.png" alt="">
      </div>
      <div class="tp-donate__bg">
          <div class="container">
              <div class="row align-items-end">
                  <div class="col-xl-8 col-lg-8 col-md-8">
                      <div class="tp-donate__section-title">
                          <span class="tp-section-subtitle-3">Help the people</span>
                          <h4 class="tp-section-title">Objectives</h4>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4">
                      <div class="tp-donate__section-arrow d-flex justify-content-start  justify-content-md-end pb-50">
                          <div class="test-next">
                              <button><i class="far fa-arrow-left"></i></button>
                          </div>
                          <div class="test-prev">
                              <button><i class="far fa-arrow-right"></i></button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="swiper-container tp-donate__active">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="tp-donate__item">
                              <div class="tp-donate__thumb p-relative fix">
                                  <img src="assets/img/donate/donate-3-1.png" alt="">
                                  <div class="tp-donate__thumb-shape">
                                      <img src="assets/img/donate/donate-shape-1.png" alt="">
                                      <div class="tp-donate__thumb-text">
                                          <span>EDUCATION</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="tp-donate__content">
                                  <div class="tp-donate__text">
                                      <h5 class="tp-donate__title">
                                        Access to formal Education
                                      </h5>
                                      <p>
                                        To provide educational opportunity to needy students who cannot afford or have inadequate resources to join or continue their education;
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="tp-donate__item">
                              <div class="tp-donate__thumb p-relative fix">
                                  <img src="assets/img/donate/donate-3-2.png" alt="">
                                  <div class="tp-donate__thumb-shape">
                                      <img src="assets/img/donate/donate-shape-1.png" alt="">
                                      <div class="tp-donate__thumb-text">
                                          <span>EMPOWERMENT</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="tp-donate__content">
                                  <div class="tp-donate__text">
                                      <h5 class="tp-donate__title">
                                        Community Empowerment
                                      </h5>
                                      <p>
                                        To help students continue their studies and education by providing scholarship, educational material, enforcing the importance of education, creating a culture of education for better success in their education learning and educational institutions.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="tp-donate__item">
                              <div class="tp-donate__thumb p-relative fix">
                                  <img src="assets/img/donate/donate-3-3.png" alt="">
                                  <div class="tp-donate__thumb-shape">
                                      <img src="assets/img/donate/donate-shape-1.png" alt="">
                                      <div class="tp-donate__thumb-text">
                                          <span>SUPPORT</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="tp-donate__content">
                                  <div class="tp-donate__text">
                                      <h5 class="tp-donate__title">
                                        Aid Programs
                                      </h5>
                                      <p>
                                        To establish and manage aid programs to promote education to needy students.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="tp-donate__item">
                              <div class="tp-donate__thumb p-relative fix">
                                  <img src="/images/sanitary.png" alt="">
                                  <div class="tp-donate__thumb-shape">
                                      <img src="assets/img/donate/donate-shape-1.png" alt="">
                                      <div class="tp-donate__thumb-text">
                                          <span>HYGIENE</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="tp-donate__content">
                                  <div class="tp-donate__text">
                                      <h5 class="tp-donate__title">
                                        Hygiene Boost
                                      </h5>
                                      <p>
                                        To advance any other objects of the community including providing sanitary towels to the girl child.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- donate-area-end -->

  <!-- cta-area-start -->
  <div class="tp-cta-2__area pb-115">
      <div class="tp-cta-2__bg p-relative fix">
          <div class="tp-cta-2__shape-3 d-none d-lg-block">
              <img src="assets/img/cta/cta-shape-3.png" alt="">
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="tp-cta-2__content text-center">
                          <span class="tp-cta-2__subtitle wow tpfadeUp" data-wow-duration=".9s"
                          data-wow-delay=".3s">
                            Support Our Cause
                          </span>
                          <h4 class="tp-cta-2__title wow tpfadeUp" data-wow-duration=".9s"
                          data-wow-delay=".5s">
                            Join us today on our mission <br> to make education available for those<br> who can't afford it.
                          </h4>
                          <a href="/donations" class="tp-btn theme-2-bg wow tpfadeUp" data-wow-duration=".9s"
                          data-wow-delay=".7s">Donate Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- cta-area-end -->

  <!-- blog-area-start -->
  <div class="tp-blog-2__area tp-blog-2__space">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="tp-blog-2__section-title pb-50 text-center">
                      <span class="tp-section-subtitle">our blog</span>
                      <h4 class="tp-section-title">Check Our Latest Blogs</h4>
                  </div>
              </div>
          </div>
          <div class="row">
            {
              blog_data.map((item) => (
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-30 wow tpfadeUp" data-wow-duration=".9s"
                  data-wow-delay=".3s">
                      <div class="tp-blog-2__item">
                          <a href={`/blog/${item.slug}`} data-astro-prefetch>
                              <div class="tp-blog-2__thumb p-relative">
                                  <img src={item._embedded["wp:featuredmedia"] ? item._embedded["wp:featuredmedia"][0].media_details.sizes.medium.source_url : ''} alt={item.title.rendered} />
                              </div>
                          </a>
                          <div class="tp-blog-2__content">
                              <div class="tp-blog-2__tag">
                                  <span><i class="flaticon-tag"></i>BLOG</span>
                              </div>
                              <a href={`/blog/${item.slug}`} data-astro-prefetch><h4 class="tp-blog-2__title-sm">
                                {item.title.rendered}
                              </h4></a>
                              <span class="tp-blog-2__meta-3">
                                {formatDate(item.yoast_head_json.article_published_time)}
                              </span>
                              <a href={`/blog/${item.slug}`} data-astro-prefetch>
                                  <div class="tp-blog-2__link text-center">
                                      <span>Read More<i class="flaticon-arrow-right"></i><span>
                                  </span></span></div>
                              </a>
                          </div>
                      </div>
                  </div>
                ))
            }
          </div>
      </div>
  </div>
  <!-- blog-area-end -->

  <!-- cta-area-start -->
  <div class="tp-cta__area">
      <div class="tp-cta__bg wow tpfadeUp" data-wow-duration=".9s" data-wow-delay=".3s" data-background="assets/img/cta/cta-bg-3.jpg">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-xl-7 col-lg-7 col-md-7">
                      <div class="tp-cta__content d-flex align-items-center">
                          <div class="tp-cta__icon d-none d-sm-block">
                              <span><i class="flaticon-volunteer"></i></span>
                          </div>
                          <h4 class="tp-cta__title-sm">Join your hand with us for a <br> better life and future
                          </h4>
                      </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-5">
                      <div class="tp-cta__button text-md-end text-start">
                          <a class="tp-btn" href="/about">Discover More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- cta-area-end -->
</Layout>